.Head1 {
    text-align: center;
}
img {
    height: 100px; width: 100px;
}
p {
    font-size: xlarge;
}

h1 {
    font-size: xxx-large;
}
ul {
    font-size: large;
}
li {
    font-size: large;
}